{%extends 'base.html'%}


{%block content%}
<!-- Pilih KRS -->
<div class="col-sm-8 col-sm-offset-2 page-header">
    <h1>Pilih Mata Kuliah</h1>
</div>
<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Kode</th>
                    <th>Nama</th>
                    <th>SKS</th>
                    <th>Semester</th>
                    <th>Ambil</th>
                    
                </tr>
            </thead>
            <tbody>
                {%for mk in matkul%}
                <tr>
                    <td>{{mk.kode}}</td>
                    <td>{{mk.nama}}</td>
                    <td>{{mk.sks}}</td>
                    <td>{{mk.semester}}</td>
                    
                    <td>
                        <a href="{{url_for('ambil_matkul', id=mk.id)}}" class="btn btn-primary"><span class="glyphicon glyphicon-check"></span></a>
                        
                    </td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
</div>

{%endblock%}