{%extends 'base.html'%}

{%block content%}

    <div class="col-sm-4 col-sm-offset-4 page-header">
        <h1>Daftar Mata Kuliah</h1>
    </div>     
        
            
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
                <a href="{{url_for('input_matkul')}}"><button type="button" class="btn btn-info">Tambah Mata Kuliah</button></a>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Kode</th>
                        <th>Nama</th>
                        <th>SKS</th>
                        <th>Semester</th>
                        <th>Dosen Pengampu</th>
                        
                    </tr>
                </thead>
                <tbody>
                    {%for mk in matkul%}
                    <tr>
                        <td>{{mk.kode}}</td>
                        <td>{{mk.nama}}</td>
                        <td>{{mk.sks}}</td>
                        <td>{{mk.semester}}</td>
                        <td>{{mk.dosen}}</td>
                        
                        <td>
                            <a href="{{url_for('edit_matkul', id=mk.id)}}" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span></a>
                            <a href="{{url_for('delete_matkul', id=mk.id)}}" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a>
                            
                        </td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>

    </div>

{%endblock%}